@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  background: lightblue;
  margin: 0 auto;
}
.header {
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}
.gnb .depth1 {
  display: flex;
}
.gnb .depth1 > li > a {
  display: block; /* flex일 경우 */
  line-height: 100px; /* align-items: center; */
  height: 100px;
  padding: 0px 50px;
  text-align: center;
}
.gnb .depth1 > li > a:hover {
  border-bottom: 3px solid black;
  font-weight: bold;
}
.gnb .depth1:hover .depth2 {
  display: block;
}
.gnb .depth2 {
  display: none;
  background: white;
  padding: 20px 0px;
}
.gnb .depth2 a {
  display: block;
  background: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.gnb .depth2 > li > a:hover {
  background: black;
  /* border-bottom: 3px solid black; */
  color: white;
  font-weight: bold;
}
/* slide */
.slide {
  overflow: hidden;
  height: 300px;
}
.slide a,
.slide img {
  display: block;
}
/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.tabs {
  width: calc(100% / 2 - 230px);
}
.bnr {
  width: 360px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 180px;
}
.goto li {
  height: calc(50% - 5px);
  width: calc(50% - 5px);
  background: gray;
}
.goto a {
  display: block;
  background: #ffffff;
  height: 100%;
}
