@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: #222328;
}
.wrap {
  width: 1200px;
  margin: 0 auto;
}
.header {
  height: 100px;
  background: white;
  display: flex;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}
.gnb .depth1 {
  display: flex;
}
.gnb .depth1 > li > a {
  display: block; /* flex일 경우 */
  line-height: 100px; /* align-items: center; */
  height: 100px;
  padding: 0px 50px;
  text-align: center;
}
.gnb .depth1 > li > a:hover {
  border-bottom: 3px solid black;
  font-weight: bold;
}
.gnb .depth1:hover .depth2 {
  display: block;
}
.gnb .depth2 {
  display: none;
  background: white;
  padding: 20px 0px;
}
.gnb .depth2 a {
  display: block;
  background: white;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
.gnb .depth2 > li > a:hover {
  background: black;
  /* border-bottom: 3px solid black; */
  color: white;
  font-weight: bold;
}
/* slide */
.slide {
  overflow: hidden;
  height: 300px;
}
.slide a,
.slide img {
  display: block;
}
/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}
.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 tab */
.tabs-wrap .tab-item .tit {
  height: 30px;
  padding-top: 5px;
  border-bottom: 2px solid black;
  background: lightgray;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
}
/* 활성화 tab*/
.tabs-wrap .on .tit {
  background: black;
  color: #ffffff;
}
.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 130px;
}
.tabs-wrap .on .cont {
  display: block;
}
.lst-bbs {
  font-size: 14px;
  padding-top: 8px;
}
.lst-bbs li {
  display: flex;
  align-self: center;
}
.lst-bbs li a {
  display: block;
  line-height: 2;
}
.lst-bbs li a:hover {
  text-decoration: underline;
}
.lst-bbs li a::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: -5px;
  margin-right: 10px;
  background: black;
}
/* 갤러리 */
.lst-gellery {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
}
.lst-gellery li {
  width: 98px;
}
.lst-gellery li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tabs-wrap .bnr {
  width: 360px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 180px;
}
.goto li {
  height: calc(50% - 5px);
  width: calc(50% - 5px);
  background: gray;
}
.goto a {
  display: block;
  background: lightblue;
  height: 100%;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #d7d7d7;
}
.logo-foot a {
  display: flex;
  align-items: center;
  height: 100px;
}
.lst-sns {
  display: flex;
}
.lst-sns li {
  margin-left: 20px;
}
.lst-sns a {
  display: block;
  height: 100px;
  line-height: 100px;
}
